# Ignore node_modules
node_modules

# Ignore npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore version control directories
.git
.svn

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Makefile
Makefile

# Ignore development and editor files
*.log
*.swp
*.swo
.vscode/
.idea/
*.sublime*

# Framwork
.angular